.main {
  margin: 5rem 0;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.preview {
  padding-top: 5vh;
  min-width: 500px;
  min-height: 500px;
  height: 90vh;
  width: 90vw;
  display: flex;
  align-content: center;
  justify-content: space-around;
}

.form_wrapper {
  height: 90vh;
  width: 90vw;
}

.uploadform {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.title {
  margin: 5px 0px 3px;
}

.section {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border: 2px solid grey;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option p,
.option input {
  display: inline-flex;
  margin-right: 5px;
}

.option input[type="number"] {
  width: 4.5em;
}

.submit {
  flex: 0 1 100%;
  display: flex;
  /* todo: more style & font size */
}

.submit input {
  margin: auto;
}

.error {
  color: red;
  display: inline;
}
